{% extends "base.html" %}
{% load static %}

{% block content %}
<div x-data="getItems">
  <hgroup>
    <h2>Despesas</h2>
    <h3>Exemplo de despesas</h3>
  </hgroup>

  <a
    href="#"
    role="button"
    @click.prevent="openModal()"
  >Adicionar</a>

  <table role="grid">
    <thead>
      <tr>
        <th scope="col">Descrição</th>
        <th
          scope="col"
          dir="rtl"
        >Valor</th>
        <th
          scope="col"
          dir="rtl"
        >Data</th>
        <th
          scope="col"
          class="text-center"
        >Ações</th>
      </tr>
    </thead>
    <tbody>
      <template
        x-for="(item, index) in items"
        :key="item.id"
      >
        <tr>
          <td
            x-text="item.description"
            x-show="!item.isEdit"
          >Almoço</td>
          <!-- Edit -->
          <td x-show="item.isEdit">
            <input
              class="mb-0"
              type="text"
              x-model="editItem.description"
            />
          </td>

          <td
            dir="rtl"
            x-text="'R$ '+item.value"
            x-show="!item.isEdit"
          >R$ 32,00</td>
          <!-- Edit -->
          <td
            dir="rtl"
            x-show="item.isEdit"
          >
            <input
              class="mb-0"
              type="number"
              min="0"
              step="0.01"
              x-model="editItem.value"
            />
          </td>

          <td
            dir="rtl"
            x-text="item.date_payment_display"
            x-show="!item.isEdit"
          >02/01/24</td>
          <!-- Edit -->
          <td
            dir="rtl"
            x-show="item.isEdit"
          >
            <input
              class="mb-0"
              type="date"
              x-model="editItem.date_payment"
            />
          </td>

          <td
            class="text-center"
            x-show="!item.isEdit"
          >
            <!-- Update -->
            <i
              class="fa fa-lg fa-pencil-square-o"
              @click="getItem(item)"
            ></i>
            <!-- Delete -->
            <i
              class="fa fa-lg fa-close ml-2 is-danger"
              @click="deleteItem(item,index)"
            ></i>
          </td>
          <!-- Edit -->
          <td
            class="text-center"
            x-show="item.isEdit"
          >
            <div>
              <!-- Confirm -->
              <a
                href=""
                role="button"
                @click.prevent="saveData()"
              >
                <i class="fa fa-check"></i>
              </a>
              <!-- Cancel -->
              <a
                href=""
                role="button"
                class="contrast"
                @click.prevent="cancelItem(item)"
              >
                <i class="fa fa-close"></i>
              </a>
            </div>
          </td>
        </tr>

      </template>
    </tbody>
    <tfoot>
      <tr>
        <td scope="col">Total</td>
        <td
          scope="col"
          dir="rtl"
          x-text="'R$ '+total()"
        >R$ 97,40</td>
        <td
          scope="col"
          dir="rtl"
        ></td>
        <td
          scope="col"
          dir="rtl"
        ></td>
      </tr>
    </tfoot>
  </table>

  <!-- Modal -->
  <!-- O open é do Pico.css, mas com dois pontos na frente ele vira um bind do AlpineJS. -->
  <dialog :open="isOpen">
    <article>
      <header>
        <a
          href=""
          aria-label="Close"
          class="close"
          @click.prevent="resetForm()"
        ></a>
        Adicionar Despesa
      </header>
      <form @submit.prevent="saveData()">
        {% csrf_token %}
        <label for="">{{ form.description.label }}</label>
        {{ form.description }}

        <div class="grid">
          <div>
            <label for="">{{ form.value.label }}</label>
            {{ form.value }}
          </div>

          <div>
            <label for="">{{ form.date_payment.label }}</label>
            {{ form.date_payment }}
          </div>
        </div>

        <footer class="grid">
          <button
            type="button"
            class="secondary"
            @click="resetForm()"
          >Cancelar</button>
          <button type="submit">Salvar</button>
        </footer>
      </form>
    </article>
  </dialog>
</div>
{% endblock content %}

{% block js %}
<script
  src="{% static 'js/expense.js' %}"
  data-tokens='{ "csrf": "{{ csrf_token }}" }'
></script>
{% endblock js %}