{% extends "base.html" %}

{% block content %}
<div class="grid">
  <section>
    <hgroup>
      <h2>Mockup</h2>
    </hgroup>
    <p>
      Este é o exemplo do mockup desenvolvido neste projeto.
    </p>

    <a
    href="{% url 'expense:expense_list' %}"
    class="mb-2"
    role="button"
  >Clique aqui</a>

    <figure>
      <img
        src="https://raw.githubusercontent.com/rg3915/alpinejs-django-ninja-crud/main/img/mockup.png"
        alt="Mockup"
      />
    </figure>
  </section>
</div>
{% endblock content %}